<label>
    @Name
    
    <select @bind="SelectedItems" @_multiselect>
        @foreach (var item in Items)
        {
            <option value="@item">@item</option>
        }
    </select>
</label>

@code {
    [Parameter]
    public string Name { get; set; }
    
    [Parameter]
    public List<string> Items { get; set; }
    
    [Parameter]
    public bool Multiselect { get; set; }
    private string _multiselect => Multiselect ? "multiple" : "";

    public string[] SelectedItems { get; set; } = Array.Empty<string>();
}