<button class="button" @onclick="OnClick" style="font-size: @Size">@ChildContent</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter]
    public EventCallback OnClick { get; set; }
    
    [Parameter]
    public string Size { get; set; } = "24px";
}