<div class="dropdown">
    <span class="selected">@Name</span>
    <span class="material-symbols-sharp">expand_more</span>
    
    <ul class="dropdown-items">
        @foreach (var item in Items)
        {
            @if (Multiselect)
            {
                <li>
                    <label>
                        <input type="checkbox" value="@item">
                        @item
                    </label>
                </li>
            }
            else
            {
                <li>
                    <label>
                        @item
                        <input type="radio" name="selectedItem" value="@item">
                    </label>
                </li>
            }
        }
    </ul>
</div>
    

@code {
    [Parameter]
    public string Name { get; set; }
    
    [Parameter]
    public List<string> Items { get; set; }
    
    [Parameter]
    public bool Multiselect { get; set; }
    
    public string[] SelectedItems { get; set; } = Array.Empty<string>();
    
    // if not multiselect
    public string SelectedItem { get; set; }
}