<div class="dim-background" style="opacity: @_opacity; z-index: @_z">
    <div class="modal">
        <div class="modal-header">
            <h4 style="margin-top: 0.2rem; margin-left: 0.2rem;">Add new mod</h4>
            <span class="material-symbols-sharp close" onclick="@Close">close</span>
        </div>
        
        <div class="modal-part1">
            <JiayiTextBox Placeholder="Name" Style="width: 100%"></JiayiTextBox>
        </div>
    </div>
</div>

@code {
    private string _opacity = "0";
    private string _z => _opacity == "0" ? "1" : "100";
    
    public void Open()
    {
        _opacity = "100";
        StateHasChanged();
    }

    private void Close()
    {
        _opacity = "0";
        StateHasChanged();
    }
}