@using Microsoft.Win32
@using JiayiLauncher.Features.Mods

<div class="select" style="opacity: @_part1; display: @(_part2 == "100%" ? "none" : "block")">
    <div class="select-file">
        <JiayiButton OnClick="SelectFile">Select a file</JiayiButton>
        <p>
            to begin<br>
            .dll and .exe files only
        </p>
    </div>
    
    <div class="separator">
        <div class="separator-line"></div>
        <p>or</p>
        <div class="separator-line"></div>
    </div>
    
    <div class="url">
        <p>Enter the link to your mod</p>
        <JiayiTextBox Style="width: 91%" Placeholder="cool-website.com/path/to/mod.dll" />
    </div>
</div>

<div class="edit" style="opacity: @_part2; display: @(_part2 == "0" ? "none" : "block")">
    <JiayiTextBox Placeholder="Name your mod" />
    <JiayiDropDown Items="@_items" Name="Supported versions" Multiselect="true" />
    <JiayiButton>Save</JiayiButton>
</div>

@code {
    private string _part1 = "100%";
    private string _part2 = "0";
    
    private List<string> _items = new() { "Any", "filling this list later" };

    private void SelectFile()
    {
        var dialog = new OpenFileDialog
        {
            Title = "Select a mod",
            Filter = "Injectable libraries (*.dll)|*.dll|" +
                     "External clients and injectors (*.exe)|*.exe",
            Multiselect = false
        };

        if (dialog.ShowDialog() == true)
        {
            Part2(dialog.FileName);
        }
    }

    private void Part2(string path)
    {
        _part1 = "0";
        _part2 = "100%";
        StateHasChanged();
    }
}