@using System.IO
@using JiayiLauncher.Features.ModFolder
@using Microsoft.Win32

<div class="select" style="display: @_part1">
    <div class="select-file">
        <JiayiButton OnClick="SelectFile">Select a file</JiayiButton>
        <p>
            to begin<br>
            .dll and .exe files only
        </p>
    </div>
    
    <div class="separator">
        <div class="separator-line"></div>
        <p>or</p>
        <div class="separator-line"></div>
    </div>
    
    <div class="url">
        <p>Enter the link to your mod</p>
        <JiayiTextBox Style="width: 91%" Placeholder="cool-website.com/path/to/mod.dll"></JiayiTextBox>
    </div>
</div>

<div class="edit" style="display: @_part2">
    <EditForm Model="@_mod" OnValidSubmit="@Valid">
        <JiayiTextBox @bind="_mod.Name"></JiayiTextBox>
        
    </EditForm>
</div>

@code {
    private string _part1 = "block";
    private string _part2 = "none";
    
    private ModModel _mod = new();
    
    private void SelectFile()
    {
        var dialog = new OpenFileDialog
        {
            Title = "Select a mod",
            Filter = "Injectable libraries (*.dll)|*.dll|" +
                     "External clients and injectors (*.exe)|*.exe",
            Multiselect = false
        };

        if (dialog.ShowDialog() == true)
        {
            Part2(dialog.FileName);
        }
    }

    private void Part2(string path)
    {
        _mod.Path = path;
        _part1 = "none";
        _part2 = "block";
        StateHasChanged();
    }

    private void Valid()
    {
        
    }

}