@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IToastService ToastService

@using JiayiLauncher.Utils
@using System.IO
@using System.Reflection
@using JiayiLauncher.Features.Mods
@using JiayiLauncher.Settings
@using JiayiLauncher.Shared.Components.Toasts

<BlazoredToasts Position="ToastPosition.BottomRight"
                ShowProgressBar="true"
                PauseProgressOnHover="true"
                ShowCloseButton="true"
                IconType="IconType.None" />

<Sidebar @ref="_sidebar" />

<ThemeController />

<main style="margin-left: @_margin" @onkeydown="KeyDown">
    @Body
</main>

@code {
    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;

    public static MainLayout? Instance { get; private set; }

    private Sidebar? _sidebar;
    private string _margin = "5.5rem";

    private readonly Updater _updater = new();

    // silly
    private readonly List<string> _dontAskAgain = Strings.DontAskAgain.Split('\n')
        .Where(x => !string.IsNullOrWhiteSpace(x)).ToList();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        Instance = this;

        if (InternetManager.OfflineMode)
        {
            var parameters = new ToastParameters()
                .Add(nameof(JiayiToast.Title), Strings.OfflineMode)
                .Add(nameof(JiayiToast.Content), new RenderFragment(builder =>
                {
                    builder.OpenElement(0, "p");
                    builder.AddContent(1, Strings.OfflineModeDesc);
                    builder.CloseElement();
                }))
                .Add(nameof(JiayiToast.Buttons), new List<(string, EventCallback)>
                {
                    (Strings.Okay, EventCallback.Empty)
                });

            ToastService.ShowToast<JiayiToast>(parameters, settings => settings.DisableTimeout = true);
        }

        if (Privileges.IsAdmin())
        {
            var parameters = new ToastParameters()
                .Add(nameof(JiayiToast.Title), Strings.PrivEscNotice)
                .Add(nameof(JiayiToast.Buttons), new List<(string, EventCallback)>
                {
                    (Strings.Okay, EventCallback.Empty)
                });
            
            ToastService.ShowToast<JiayiToast>(parameters, settings => settings.DisableTimeout = true);
        }

        if (_sidebar != null) _sidebar.OnToggle += ChangeMargin;
        
        var args = Singletons.Get<Arguments>();
        args.Changed += (_, _) => HandleArgs(args.Get());

        // handle arguments here because it's actually the best place to do it
        if (args.Get() != string.Empty)
        {
            HandleArgs(args.Get());
        }

        if (JiayiSettings.Instance!.EnableUpdater)
        {
            _updater.UpdateDownloaded += UpdateDownloaded;
            _updater.UpdateInstalled += UpdateInstalled;
            await UpdateCheck();
        }
    }

    public void Reload()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    private void UpdateInstalled(object? sender, EventArgs e)
    {
        var version = Assembly.GetExecutingAssembly().GetName().Version ?? new Version(0, 0, 0);
        var realVersion = $"v{version.Major}.{version.Minor}.{version.Build}";

        var parameters = new ToastParameters()
            .Add(nameof(JiayiToast.Title), Strings.UpdateInstalled)
            .Add(nameof(JiayiToast.Content), new RenderFragment(builder =>
            {
                builder.OpenElement(0, "p");
                builder.AddContent(1, string.Format(Strings.UpdateInstalledDesc, realVersion));
                builder.OpenElement(2, "a");
                builder.AddAttribute(3, "href",
                    $"https://github.com/JiayiSoftware/JiayiLauncher/releases/tag/{realVersion}");
                builder.AddAttribute(4, "style", "color: var(--text-primary);");
                builder.AddContent(5, Strings.UpdateInstalledDesc2);
                builder.CloseElement();
                builder.CloseElement();
            }))
            .Add(nameof(JiayiToast.Buttons), new List<(string, EventCallback)>
            {
                (Strings.Okay, EventCallback.Empty)
            });

        ToastService.ShowToast<JiayiToast>(parameters, settings => settings.DisableTimeout = true);
    }

    private async Task UpdateCheck()
    {
        if (InternetManager.OfflineMode) return;

        var result = await _updater.IsUpdateAvailable();
        if (result)
        {
            var parameters = new ToastParameters()
                .Add(nameof(JiayiToast.Title), Strings.UpdateAvailable);

            if (JiayiSettings.Instance!.AutoDownloadUpdates)
            {
                parameters.Add(nameof(JiayiToast.Content), new RenderFragment(builder =>
                {
                    builder.OpenElement(0, "p");
                    builder.AddContent(1, Strings.UpdateDownloading);
                    builder.CloseElement();
                }));

                ToastService.ShowToast<JiayiToast>(parameters, settings =>
                {
                    settings.Timeout = 5;
                    settings.ShowProgressBar = true;
                });

                await _updater.DownloadLatest();
            }
            else
            {
                parameters
                    .Add(nameof(JiayiToast.Content), new RenderFragment(builder =>
                    {
                        builder.OpenElement(0, "p");
                        builder.AddContent(1, Strings.UpdateAvailableDesc);
                        builder.CloseElement();
                    }))
                    .Add(nameof(JiayiToast.Buttons), new List<(string, EventCallback)>
                    {
                        (Strings.Yes, new EventCallback(null, async () =>
                        {
                            await _updater.DownloadLatest();
                        })),
                        (Strings.No, EventCallback.Empty),
                        (_dontAskAgain[Random.Shared.Next(_dontAskAgain.Count)], new EventCallback(null, () =>
                        {
                            JiayiSettings.Instance.EnableUpdater = false;
                            JiayiSettings.Instance.Save();
                        }))
                    });

                ToastService.ShowToast<JiayiToast>(parameters, settings => settings.DisableTimeout = true);
            }
        }
    }

    private void UpdateDownloaded(object? sender, EventArgs e)
    {
        var parameters = new ToastParameters()
            .Add(nameof(JiayiToast.Title), Strings.UpdateDownloaded)
            .Add(nameof(JiayiToast.Content), new RenderFragment(builder =>
            {
                builder.OpenElement(0, "p");
                builder.AddContent(1, Strings.UpdateDownloadedDesc);
                builder.CloseElement();
            }))
            .Add(nameof(JiayiToast.Buttons), new List<(string, EventCallback)>
            {
                (Strings.Restart, new EventCallback(null, () =>
                {
                    _updater.Update();
                })),
                (Strings.Later, EventCallback.Empty)
            });

        ToastService.ShowToast<JiayiToast>(parameters, settings => settings.DisableTimeout = true);
    }

    private void HandleArgs(string args)
    {
        if (args.StartsWith("addmod/"))
        {
            var modPath = args.Replace("addmod/", "");
            
            var modImporter = Singletons.Get<ModImporter>();
            var mod = modImporter.ImportFromPath(modPath);

            var parameters = new ModalParameters()
                .Add(nameof(EditMod.Mod), mod)
                .Add(nameof(EditMod.FromUrlProtocol), true);

            ModalService.Show<EditMod>(Strings.EditModName, parameters);
        }

        if (File.Exists(args))
        {
            var parameters = new ModalParameters()
                .Add(nameof(ImportCollection.Path), args);

            ModalService.Show<ImportCollection>(Strings.ImportModTitle, parameters);
        }
    }

    private void ChangeMargin(object? sender, EventArgs e)
    {
        _margin = _margin == "5.5rem" ? "13.5rem" : "5.5rem";
        StateHasChanged();
    }

    private List<string?> _konami = new() { "ArrowUp", "ArrowUp", "ArrowDown", "ArrowDown", "ArrowLeft", "ArrowRight", "ArrowLeft", "ArrowRight", "b", "a", "Enter" };
    private string? _nextKey = "ArrowUp";

    private void KeyDown(KeyboardEventArgs obj)
    {
        if (obj.Key == _nextKey)
        {
            _konami.RemoveAt(0);
            _nextKey = _konami.FirstOrDefault();
        }
        else
        {
            _konami = new List<string?> { "ArrowUp", "ArrowUp", "ArrowDown", "ArrowDown", "ArrowLeft", "ArrowRight", "ArrowLeft", "ArrowRight", "b", "a", "Enter" };
            _nextKey = _konami.FirstOrDefault();
        }

        if (_konami.Count == 0)
        {
            _konami = new List<string?> { "ArrowUp", "ArrowUp", "ArrowDown", "ArrowDown", "ArrowLeft", "ArrowRight", "ArrowLeft", "ArrowRight", "b", "a", "Enter" };
            _nextKey = _konami.FirstOrDefault();
            NavigationManager.NavigateTo("/Secret");
        }
    }
}