<nav class="sidebar" data-sticky="@_sticky">
    <ul class="sidebar-items">
        <li class="logo">
            <JiayiLogo Size="2rem" Shadow="3px"/>
            <p class="wordmark">Jiayi</p>
            <button class="sticky" title="sticky" onclick="@Sticky"></button>
        </li>
        
        <li class="sidebar-item">
            <a href="Dashboard" class="sidebar-link">
                <span class="material-symbols-sharp">dashboard</span>
                <span class="sidebar-link-text">Dashboard</span>
            </a>
        </li>
        
        <li class="sidebar-item">
            <a href="Mods" class="sidebar-link">
                <span class="material-symbols-sharp">collections_bookmark</span>
                <span class="sidebar-link-text">Mods</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="Profiles" class="sidebar-link">
                <span class="material-symbols-sharp">texture</span>
                <span class="sidebar-link-text">Profiles</span>
            </a>
        </li>
        
        <li class="sidebar-item">
            <a href="Stats" class="sidebar-link">
                <span class="material-symbols-sharp">monitoring</span>
                <span class="sidebar-link-text">Stats</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="Settings" class="sidebar-link">
                <span class="material-symbols-sharp">settings</span>
                <span class="sidebar-link-text">Settings</span>
            </a>
        </li>
    </ul>
</nav>

@code {
    private string _sticky = "no";
    
    public event EventHandler OnToggle;
    
    private void Sticky()
    {
        _sticky = _sticky == "no" ? "yes" : "no";
        OnToggle?.Invoke(this, EventArgs.Empty);
    }

}