.sidebar {
    width: 4rem;
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: var(--background-secondary);
    transition: width var(--transition-speed) ease;
    z-index: 5;
    box-shadow: 5px 0 rgba(0, 0, 0, 0.4);
}

.sidebar-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.sidebar-item {
    width: 100%;
    overflow: hidden;
}

.sidebar-item:last-child {
    margin-top: auto;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 4rem;
    text-decoration: none;
    transition: background-color var(--transition-speed);
    color: var(--text-grayed);
}

.sidebar-link:hover {
    background: var(--background-primary);
    color: var(--text-primary);
}

.sidebar-link[data-selected="yes"] {
    background-color: var(--background-primary);
    color: var(--text-primary);
    cursor: default;
}

.select-border {
    position: absolute;
    width: 0;
    height: 4rem;
    background-color: var(--accent);
    transition: var(--transition-speed);
}

.sidebar-link:hover .material-symbols-sharp {
    color: var(--text-primary);
}

.sidebar-link[data-selected="yes"] span {
    color: var(--text-primary);
}

.sidebar-link[data-selected="yes"] .select-border {
    width: 4px;
}

.sidebar-link-text {
    display: none;
}

.material-symbols-sharp {
    min-width: 2rem;
    margin: 0 1.2rem;
    color: var(--text-grayed);
    transition: var(--transition-speed);
}

.sidebar:hover {
    width: 12rem;
}

.sidebar:hover .sidebar-link-text {
    display: block;
}

.sidebar:hover .wordmark {
    display: block;
}

.logo:hover .sticky {
    opacity: 100;
}

.logo {
    display: flex;
    width: 100%;
    margin-left: 1.7rem;
    align-items: center;
    height: 4rem;
    /*text-decoration: none;*/
    transition: var(--transition-speed);
    color: var(--accent);
}

.sticky {
    opacity: 0;

    appearance: none;
    margin-left: auto;
    margin-right: 2rem;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border-color: var(--accent);
    background-color: transparent;
    border-width: 3px;
    border-style: solid;

    transition: var(--transition-speed);
}

.sticky:hover {
    /* TODO: un-hardcode this */
    background-color: rgba(255, 0, 0, 0.2);
}

/* styles when sidebar[data-sticky] is "yes" */
.sidebar[data-sticky="yes"] {
    width: 12rem;
}

.sidebar[data-sticky="yes"] .sidebar-link-text {
    display: block;
    opacity: 100;
}

.sidebar[data-sticky="yes"] .sticky {
    background-color: var(--accent);
}

.sidebar:hover[data-sticky="no"] .sticky {
    opacity: 100;
}

.sidebar[data-sticky="yes"] main {
    margin-left: 12rem;
}

.sidebar[data-sticky="yes"] .wordmark {
    display: block;
}

.sidebar[data-sticky="yes"] main {
    margin-left: 12rem;
}

.wordmark {
    display: none;
    overflow: hidden;
    
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    margin-left: 1.6rem;
    transition: var(--transition-speed);
}
