@page "/Secret"
<h3>Secret</h3>

<iframe src="https://freeminesweeper.org/" width="100%" style="height: 85vh; border: none"></iframe>

<h5>provided by <a href="https://freeminesweeper.org/">freeminesweeper.org</a></h5>
<h6>livesweeper: competitive minesweeper</h6>