.shader-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.shader-list-toggle {
    text-decoration: none;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--background-secondary);
    box-shadow: var(--shadow);
    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    transition: var(--transition-speed);
}

.shader-list-toggle:hover {
    filter: brightness(1.5);
}

.shader-list-toggle:active {
    filter: brightness(0.8);
    transform: translate(5px, 5px);
    box-shadow: none;
}

.shader-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.shader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--background-secondary);
    box-shadow: var(--shadow);
    z-index: 2;
    position: relative;
}

.shader-controls {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.no-shaders i {
    color: var(--text-grayed);
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 1.5rem 0;
}

.add-new {
    border: 2px dashed var(--text-grayed);
    text-align: center;
    padding: 0.5rem;
    color: var(--text-grayed);
    cursor: pointer;

    transition: var(--transition-speed);
}

.add-new:hover {
    filter: brightness(1.5);
}

::deep input[type="file"] {
    display: none;
}