@page "/Tweaks"

@inject NavigationManager NavigationManager

<div class="page-title">
    <h4 @onclick="BackClicked">@Strings.VerManName</h4>
    <span class="material-symbols-sharp">arrow_right</span>
    <h3>Game tweaks</h3>
</div>

@code {
    private void BackClicked()
    {
        NavigationManager.NavigateTo("/Versions");
    }
}