<div>
    <p>
        @foreach (var line in Message.Split(Environment.NewLine))
        {
            // since newlines just magically disappear
            @line
            <br>
        }
    </p>

    <div style="display: flex; gap: 0.5rem;">
        <JiayiButton Size="JiayiButton.ButtonSize.Small" Style="padding: 0.5rem 1rem;"
                     OnClick="() => { Modal.CloseAsync(ModalResult.Ok()); OkCallback.InvokeAsync(); }">Ok</JiayiButton>

        <JiayiButton Size="JiayiButton.ButtonSize.Small" Style="padding: 0.5rem 1rem;"
                     OnClick="() => { Modal.CloseAsync(ModalResult.Cancel()); CancelCallback .InvokeAsync(); }">Cancel</JiayiButton>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback OkCallback { get; set; } = EventCallback.Empty;
    public EventCallback CancelCallback { get; set; } = EventCallback.Empty;

    [Parameter]
    public string Message { get; set; } = string.Empty;

    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; } = default!;
}