@using JiayiLauncher.Features.Profiles
@using JiayiLauncher.Settings
@using System.IO

<div class="edit">
    <div class="edit-name" style="margin-bottom: 1em">
        <p>Give your profile a name!</p>
        <JiayiTextBox Placeholder="@Profile.Name" @ref="_textBox"/>
    </div>
    
    <JiayiButton OnClick="SaveClicked" Size="JiayiButton.ButtonSize.Small" Style="margin-bottom: 1em;">Save</JiayiButton>
    
    @if (JiayiSettings.Instance!.ProfileCollectionPath == string.Empty)
    {
        <br>
        <i style="color: var(--text-grayed); font-size: 14px">
            Profiles will be saved to the default location, which you can change in settings
        </i>
    }
</div>

@code {
    [Parameter]
    public Profile? Profile { get; set; }
    
    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; } = default!;
    
    private JiayiTextBox? _textBox;

    private async Task SaveClicked()
    {
        if (Profile == null) return;

        if (Directory.Exists(Profile.Path))
        {
            var newPath = Profile.Path.Replace(Profile.Name, _textBox!.Value ?? Profile.Name);
            Directory.Move(Profile.Path, newPath);
            Profile.Path = newPath;
        }
        
        Profile.Name = _textBox!.Value ?? Profile.Name;
        ProfileCollection.Current!.Add(Profile);

        await Modal.CloseAsync();
    }
}