@using JiayiLauncher.Features.Shaders
@using JiayiLauncher.Utils

<div class="edit">
    <div class="edit-name" style="margin-bottom: 1em">
        <p>@Strings.EditShaderRenameShader</p>
        <JiayiTextBox Placeholder="@Shader" @ref="_textBox" />
    </div>

    <JiayiButton OnClick="SaveClicked" Size="JiayiButton.ButtonSize.Small" Style="margin-bottom: 1em;">@Strings.Save</JiayiButton>
</div>

@code {
    [Parameter]
    public string? Shader { get; set; }
    
    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; } = default!;

    private JiayiTextBox? _textBox;
    
    private async Task SaveClicked()
    {
        if (Shader == null || _textBox?.Value == null ||  _textBox?.Value?.Trim() == string.Empty || _textBox?.Value.Length >= 256) return;

        var shaderManager = Singletons.Get<ShaderManager>();
        var newName = _textBox?.Value ?? Shader;
        shaderManager.RenameShader(Shader, newName);
        
        await Modal.CloseAsync(ModalResult.Ok());
    }
}