@using JiayiLauncher.Features.Game
@using JiayiLauncher.Features.Mods
@using JiayiLauncher.Pages
@using JiayiLauncher.Settings
@using System.IO

<div class="edit">
    <div class="edit-name">
        <p>Mod name</p>
        <JiayiTextBox Placeholder="@Mod!.Name" @ref="_nameTextBox"/>
    </div>
    
    <div class="edit-versions" style="margin-bottom: 1em">
        <p>Supported versions</p>
        <JiayiDropDown Multiselect="true" Items="_supportedVersions" Name="Select versions" @ref="_versionsDropDown" />
    </div>
    
    <JiayiButton Size="JiayiButton.ButtonSize.Small" OnClick="SaveClicked" Style="margin-bottom: 1em;">Save</JiayiButton>
    
    @if (JiayiSettings.Instance!.ModCollectionPath == string.Empty)
    {
        <br>
        <i style="color: var(--text-grayed); font-size: 14px">
            Mods are saved in your documents by default; you can change this in settings
        </i>
    }
</div>

@code {
    private readonly List<string> _supportedVersions = new() { "Any version" };
    
    [Parameter]
    public Mod? Mod { get; set; }
    
    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; } = default!;
    
    private JiayiTextBox? _nameTextBox;
    private JiayiDropDown? _versionsDropDown;

    protected override async Task OnInitializedAsync()
    {
        _supportedVersions.AddRange(await PackageData.GetVersionList());
    }

    private async Task SaveClicked()
    {
        if (Mod == null) return;
        
        if (_versionsDropDown!.SelectedItems.Contains("Any version") && _versionsDropDown.SelectedItems.Count > 1)
        {
            _versionsDropDown.SelectedItems.Clear();
            return;
        }
        
        if (_versionsDropDown.SelectedItems.Count == 0)
        {
            _versionsDropDown.SelectedItems.Add("Any version");
        }

        Mod.Name = _nameTextBox?.Value ?? Mod.Name;
        Mod.SupportedVersions = _versionsDropDown?.SelectedItems ?? Mod.SupportedVersions;
        
        if (JiayiSettings.Instance!.ModCollectionPath == string.Empty)
        {
            JiayiSettings.Instance.ModCollectionPath = 
                Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "Mods");
            JiayiSettings.Instance.Save();
            ModCollection.Load(JiayiSettings.Instance.ModCollectionPath);
        }
        
        ModCollection.Current!.Add(Mod);
        await Modal.CloseAsync(ModalResult.Ok(Mod));
        
        // update mods page
        Mods.Instance.Refresh();
    }
}