@using JiayiLauncher.Localization
@using JiayiLauncher.Utils

<div class="escalate">
    <div style="display: flex; gap: 0.5rem; align-items: center; margin-top: 0.5rem; margin-bottom: 0.5rem">
        <span class="material-symbols-sharp">security</span>
        <p>@Strings.PrivEscText</p>
        <JiayiButton OnClick="EscalateClicked">@Strings.PrivEscButton</JiayiButton>
    </div>
    
    <i style="color: var(--text-grayed); font-size: 14px">
        @Strings.PrivEscRestartNotice
    </i>
    
    <br>
    
    <JiayiButton Style="margin-top: 1em;" Size="JiayiButton.ButtonSize.Small" OnClick="CancelClicked">@Strings.Cancel</JiayiButton>
</div>

@code {
    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; } = default!;

    private void EscalateClicked()
    {
        Singletons.Get<Privileges>().Escalate();
    }

    private async Task CancelClicked()
    {
        await Modal.CancelAsync();
    }

}