i {
    color: var(--text-grayed);
    font-size: 14px;
}

.edit {
    width: 330px;
}

.edit-arguments-dropdown {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    
    transition: var(--transition-speed);
}

.edit-arguments-dropdown i {
    transition: var(--transition-speed);
}

.edit-arguments-dropdown .material-symbols-sharp {
    color: var(--text-grayed);
    transition: var(--transition-speed);
}

.edit-arguments-dropdown:hover i {
    color: var(--text-primary);
}

.edit-arguments-dropdown:hover .material-symbols-sharp {
    color: var(--text-primary);
}
