<label class="filter" style="font-size: @Size; @_color">
    <input type="checkbox" class="check" @onchange="OnChange">
    @ChildContent
</label>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Size { get; set; } = "16px";
    
    [Parameter]
    public bool Checked { get; set; }
    
    [Parameter]
    public EventCallback<ChangeEventArgs> Changed { get; set; }
    
    private string _color => Checked ? "background-color: var(--accent); color: var(--text-accent); border-color: var(--border-accent)" 
        : "background-color: var(--background-secondary); color: var(--text-primary)";

    private void OnChange(ChangeEventArgs e)
    {
        Checked = (bool)(e.Value ?? false);
        Changed.InvokeAsync();
    }

}