@using JiayiLauncher.Features.Mods
@using JiayiLauncher.Pages
@using JiayiLauncher.Features.Launch
@using System.Diagnostics
@using JiayiLauncher.Features.Discord
@using JiayiLauncher.Features.Game
@using JiayiLauncher.Shared.Components.Toasts
@using JiayiLauncher.Utils

@inject NavigationManager NavigationManager
@inject IToastService ToastService

<div class="mod-background">
    <div class="mod-header">
        <strong>@Mod.Name</strong>

        <div class="right">
            @if (!_isValid)
            {
                @if (Mod.FromInternet)
                {
                    <span class="material-symbols-sharp"
                          style="color: darkorange;"
                          title="This mod is broken; it doesn't exist on the web anymore.">
                        error
                    </span>
                }
                else
                {
                    <span class="material-symbols-sharp"
                          style="color: darkorange;"
                          title="This mod is broken; the file is missing from the mods directory.">
                        error
                    </span>
                }
            }
            else
            {
                @if (Mod.FromInternet)
                {
                    if (InternetManager.OfflineMode)
                    {
                        <span class="material-symbols-sharp" title="Internet mods are disabled in offline mode"
                              style="color: var(--text-grayed)">cloud_off</span>
                    }
                    else
                    {
                        <span class="material-symbols-sharp" title="Downloaded from the web">cloud_download</span>
                    }
                }
                else
                {
                    <span class="material-symbols-sharp" title="Stored locally">hard_drive_2</span>
                }
            }
        </div>
    </div>
    <p class="mod-version">Works on @(string.Join(", ", Mod.SupportedVersions).ToLower())</p>
    <div class="mod-controls">
        @if (_isValid)
        {
            if (Mod.FromInternet && InternetManager.OfflineMode)
            {
                <JiayiButton Size="JiayiButton.ButtonSize.Small" Disabled="true">Launch</JiayiButton>
            }
            else
            {
                <JiayiButton OnClick="LaunchClicked" @ref="_launchButton" Disabled="@_launching"
                             Size="JiayiButton.ButtonSize.Small">
                    <div class="loading-bar" style="width: @Launcher.LaunchProgress%; opacity: @_showLoadingBar;"></div>
                    Launch
                </JiayiButton>
            }

            <div class="right">
                <span class="material-symbols-sharp" title="Edit mod" @onclick="EditClicked">edit</span>
                <span class="material-symbols-sharp" style="color: darkred"
                      title="Delete mod (irreversible)" @onclick="DeleteClicked">delete</span>
            </div>
        }
        else
        {
            <JiayiButton OnClick="DeleteNoConfirm" Size="JiayiButton.ButtonSize.Small">Delete</JiayiButton>
        }
    </div>
</div>

@code {
    [Parameter] public Mod Mod { get; set; } = null!;

    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;

    private bool _launching;
    private bool _isValid = true;
    private string _showLoadingBar => _launching ? "0.2" : "0";

    private JiayiButton? _launchButton;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _isValid = await Mod.IsValid();
        StateHasChanged();
    }

    private async Task LaunchClicked()
    {
        if (Launcher.Launching) return;

        var parameters = new ModalParameters();

        if (Minecraft.ModsLoaded.Count > 0)
        {
            var options = new List<(string, EventCallback)>
            {
                ("Yes", new EventCallback(null, async () =>
                {
                    await FinishLaunch();
                })),
                ("No", EventCallback.Empty)
            };

            parameters
                .Add(nameof(MessageBox.Buttons), options)
                .Add(nameof(MessageBox.Message),
                    $"Launching more than one mod at a time can make your game unstable. Are you sure you want to launch {Mod.Name}?");

            ModalService.Show<MessageBox>("Warning", parameters);
            return;
        }
        
        await FinishLaunch();
    }

    private async Task FinishLaunch()
    {
        var parameters = new ModalParameters();
        _launching = true;

        Launcher.LaunchProgressChanged += (_, _) => StateHasChanged();
        var result = await Launcher.Launch(Mod);

        _launching = false;

        switch (result)
        {
            // only cases that are errors
            case Launcher.LaunchResult.DownloadFailed:
                parameters.Add(nameof(MessageBox.Message), "Failed to download mod. Please try again later.");
                ModalService.Show<MessageBox>("Download failed", parameters);
                break;
            case Launcher.LaunchResult.ModNotFound:
                parameters.Add(nameof(MessageBox.Message), "Your mod was deleted during launch. Try turning off your antivirus.");
                ModalService.Show<MessageBox>("Mod not found", parameters);
                break;
            case Launcher.LaunchResult.GameNotFound:
                parameters.Add(nameof(MessageBox.Message), "The game was closed during launch. Turn off your antivirus in case it's terminating the game.");
                ModalService.Show<MessageBox>("Game closed", parameters);
                break;
            case Launcher.LaunchResult.VersionMismatch:
                // something different
                var supportedVersion = Mod.SupportedVersions[0];
                
                var buttons = new List<(string, EventCallback)>
                {
                    ("Yes", new EventCallback(null, () =>
                    {
                        NavigationManager.NavigateTo($"/Versions/Full/{supportedVersion}");
                    })),
                    ("No", EventCallback.Empty)
                };

                parameters
                    .Add(nameof(MessageBox.Buttons), buttons)
                    .Add(nameof(MessageBox.Message),
                        $"{Mod.Name} doesn't support your current game version. Would you like to switch to {supportedVersion}?");

                ModalService.Show<MessageBox>("Unsupported version", parameters);
                break;
            case Launcher.LaunchResult.InjectionFailed:
                parameters.Add(nameof(MessageBox.Message), "Your mod could not be injected. Try turning off your antivirus, and check logs for extended error information.");
                ModalService.Show<MessageBox>("Injection failed", parameters);
                break;
            case Launcher.LaunchResult.AlreadyLoaded:
                var toastParams = new ToastParameters()
                    .Add(nameof(JiayiToast.Title), "This mod is already loaded!")
                    .Add(nameof(JiayiToast.Level), ToastLevel.Warning);
            
                ToastService.ShowToast<JiayiToast>(toastParams, settings =>
                {
                    settings.Timeout = 5;
                    settings.ShowProgressBar = true;
                });
                return;
        }

        StateHasChanged();
    }

    private void EditClicked()
    {
        var parameters = new ModalParameters()
            .Add(nameof(EditMod.Mod), Mod);

        ModalService.Show<EditMod>("Edit mod", parameters);
    }

    private void DeleteClicked()
    {
        var options = new List<(string, EventCallback)>
        {
            ("Yes", new EventCallback(null, () =>
            {
                Mod.Delete();
                Mods.Instance?.Refresh();
            })),
            ("No", EventCallback.Empty)
        };

        var parameters = new ModalParameters()
            .Add(nameof(MessageBox.Buttons), options)
            .Add(nameof(MessageBox.Message), $"Are you sure you want to delete {Mod.Name}? This action is irreversible.");

        ModalService.Show<MessageBox>("Delete mod", parameters);
    }

    private void DeleteNoConfirm()
    {
        Mod.Delete();
        Mods.Instance?.Refresh();
    }
}