@using JiayiLauncher.Features.Mods

<div class="mod-background" @onmouseenter="MouseOver" @onmouseleave="MouseLeave">
    <div class="mod-header">
        <strong>@Mod.Name</strong>
        
        @if (Mod.FromInternet)
        {
            <span class="material-symbols-sharp" title="Downloaded from the web">cloud_download</span>
        }
        else
        {
            <span class="material-symbols-sharp" title="Stored locally">hard_drive_2</span>
        }
    </div>
    <p class="mod-version">works on @(string.Join("," ,Mod.SupportedVersions))</p>
    <div class="mod-controls">
        <JiayiButton OnClick="LaunchClicked" Size="16px" Style="padding: 0.5rem 1.5rem;" @ref="_launchButton">Launch</JiayiButton>
        <span class="material-symbols-sharp" style="cursor: pointer; opacity: @_controlsOpacity;" title="Edit mod" @onclick="EditClicked">edit</span>
        <span class="material-symbols-sharp" style="color: darkred; cursor: pointer; opacity: @_controlsOpacity;" title="Delete mod (irreversible)" @onclick="DeleteClicked">delete</span>
    </div>
</div>

@code {
    [Parameter] public Mod Mod { get; set; } = null!;

    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;
    
    private string _controlsOpacity = "0";

    private JiayiButton? _launchButton;

    private void LaunchClicked()
    {
        _launchButton!.Disabled = true;
        StateHasChanged();
    }

    private void MouseOver()
    {
        _controlsOpacity = "100%";
        StateHasChanged();
    }

    private void MouseLeave()
    {
        _controlsOpacity = "0";
        StateHasChanged();
    }

    private void EditClicked()
    {
        var parameters = new ModalParameters()
            .Add(nameof(EditMod.Mod), Mod);
            
        ModalService.Show<EditMod>("Edit mod", parameters);
    }

    private void DeleteClicked()
    {
        var options = new List<(string, EventCallback)>
        {
            ("Yes", new EventCallback(null, () => Mod.Delete(ModCollection.Current!))),
            ("No", EventCallback.Empty)
        };

        var parameters = new ModalParameters()
            .Add(nameof(MessageBox.Buttons), options)
            .Add(nameof(MessageBox.Message), $"Are you sure you want to delete {Mod.Name}? This action is irreversible.");
        
        ModalService.Show<MessageBox>("Delete mod", parameters);
    }

}