<label class="filter" style="font-size: @Size; background-color:  @_color">
    <input type="radio" name="filter" class="check" @onchange="OnChange">
    @ChildContent
</label>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Size { get; set; } = "16px";
    
    [Parameter]
    public bool Checked { get; set; }
    
    [Parameter]
    public EventCallback Changed { get; set; }
    
    private string _color => Checked ? "var(--accent)" : "var(--background-secondary)";

    private void OnChange(ChangeEventArgs e)
    {
        // why is it "on" or "off" instead of a bool
        Checked = (string)e.Value! == "on";
        Changed.InvokeAsync();
    }

}