/* REQUIRED STYLES FOR JIAYI; don't be dumb and edit this file */

body {
    color: white;
    background-color: var(--background-primary);
    margin: 0;
    padding: 0;
    transition-duration: var(--transition-speed);
    
    user-select: none;
}

*::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
    background: var(--accent);
}

h1 {
    font-weight: 900;
}

h1:focus {
    outline: none;
}

main {
    /*margin-left: 5.5rem;*/
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    transition: var(--transition-speed);
}

#blazor-error-ui {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* dumb stupid hacks to get modals to look right */

.modal {
    border-radius: 0;
    background-color: var(--background-primary);
    color: var(--text-primary);
    width: fit-content;
    padding: 1rem;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    transition: var(--transition-speed);
}

.modal h3 {
    margin-top: 0;
}

.modal button span {
    color: white;
    margin-top: 1rem;
}

.modal div:first-child {
    padding-bottom: 0;
}