:root {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    
    --background-primary: rgb(15, 15, 15);
    --background-secondary: rgb(30, 30, 30);
    --accent: red;
    --accent-darkened: rgb(200, 0, 0);
    --accent-brightened: rgb(255, 75, 75);
    --text-primary: white;
    --text-secondary: rgb(250, 250, 250);
    --shadow: 5px 5px rgba(0, 0, 0, 0.4);
    --transition-speed: 0.2s;
}

body {
    color: white;
    background-color: var(--background-primary);
    margin: 0;
    padding: 0;
    transition-duration: var(--transition-speed);
    
    user-select: none;
}

body::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: var(--background-secondary);
}

body::-webkit-scrollbar-thumb {
    background: var(--accent);
}

h1 {
    font-weight: 900;
}

h1:focus {
    outline: none;
}

main {
    /*margin-left: 5.5rem;*/
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    transition: var(--transition-speed);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: black;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
.modal {
    border-radius: 0;
    background-color: var(--background-primary);
    color: var(--text-primary);
    width: fit-content;
    padding: 1rem;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    transition: var(--transition-speed);
}

.modal h3 {
    margin-top: 0;
}

.modal span {
    color: white;
    margin-top: 1rem;
}