@page "/"
@page "/Dashboard"
@using System.Diagnostics

<h3>Good @DetermineTimeOfDay()</h3>

<div class="dashboard">
    
    
    <JiayiLogo Style="color: rgba(0, 0, 0, 0.2); width: 93%; text-align: center" Size="250px" Shadow="0"></JiayiLogo>
</div>

@if (_debug)
{
    <a href="/TestPlace" style="display: @_debug">debug stuff</a>
}

@code {
    private bool _debug => Debugger.IsAttached;
    
    private string DetermineTimeOfDay()
    {
        var hour = DateTime.Now.Hour;
        if (hour is >= 5 and < 12)
        {
            return "morning";
        }
        return hour is >= 12 and < 17 ? "afternoon" : "evening";
    }
}