@page "/"
@page "/Dashboard"
<h3>Good @DetermineTimeOfDay()</h3>

<p>
    This page will display important information, like your current Minecraft version.<br><br>
    It will also show you your recently launched mods, and the Profile you have selected.
</p>

@* test *@
<JiayiDropDown Name="Test drop down" Items="@_items" Multiselect="false"></JiayiDropDown>

@code {
    private List<string> _items = new() { "Item 1", "Item 2", "Item 3" };
    
    private string DetermineTimeOfDay()
    {
        var hour = DateTime.Now.Hour;
        if (hour is >= 5 and < 12)
        {
            return "morning";
        }
        return hour is >= 12 and < 17 ? "afternoon" : "evening";
    }
}