@page "/"
@page "/Dashboard"
@using System.Diagnostics

<h3>Good @DetermineTimeOfDay()</h3>

<p>
    This page will display important information, like your current Minecraft version.<br><br>
    It will also show you your recently launched mods, and the Profile you have selected.
</p>

@if (_debug)
{
    <a href="/TestPlace" style="display: @_debug">debug stuff</a>
}

@code {
    bool _debug => Debugger.IsAttached;
    
    private string DetermineTimeOfDay()
    {
        var hour = DateTime.Now.Hour;
        if (hour is >= 5 and < 12)
        {
            return "morning";
        }
        return hour is >= 12 and < 17 ? "afternoon" : "evening";
    }
}