@page "/Mods"

<h3>Mods</h3>

<JiayiTextBox Placeholder="Search mods" Style="width: 100%"></JiayiTextBox>

@* <div class="filter"> *@
@* *@
@* </div> *@

<div class="mods">
    <div class="add-new">
        <img src="images/drag.png" alt="Drag icon"/>
    </div>
</div>

@code {
    
}
