.find-tools {
    display: flex;
    column-gap: 0.7rem;
}

.mods {
    margin-top: 1rem;
    display: flex;
    width: 100%;
}

.separator {
    border-right: 1px solid rgb(50, 50, 50);
    
    height: auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.add-new {
    width: 100%;
    height: auto;
    filter: brightness(0.5);
    text-align: center;
}

.add-new img {
    width: 150px;
}