@using JiayiLauncher.Shared.Components.Mods

@page "/Mods"

<h3>Mods</h3>

<div class="find-tools">
    <JiayiTextBox Placeholder="Search mods"></JiayiTextBox>
    
    <div class="separator"></div>

    <JiayiFilter Checked="true">All</JiayiFilter>
    <JiayiFilter>Locally stored</JiayiFilter>
    <JiayiFilter>Online</JiayiFilter>
</div>

<div class="mods"> 
    <ul class="mod-list">
        @* mods here *@
    </ul>
    <div class="add-new">
        <div class="add-new-image"></div>
        <p>
            Drag mods, folders, or URLs here<br>
            or click the plus icon to add mods
        </p>
    </div>
</div>

<button class="add-button" @onclick="@(() => Modal.Show<NewMod>("Add new mod"))">
    <span class="material-symbols-sharp">add</span>
</button>

@code {
    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

}
