@using JiayiLauncher.Shared.Components.Mods

@page "/Mods"

<h3>Mods</h3>

<div class="find-tools">
    <JiayiTextBox Placeholder="Search mods"></JiayiTextBox>
    
    <div class="separator"></div>

    <JiayiFilter>Locally stored</JiayiFilter>
    <JiayiFilter>Online</JiayiFilter>
</div>

<div class="mods"> 
    @* mods here *@
    <div class="add-new">
        <img src="images/drag.png" alt="Drag icon"/>
        <p>
            Drag mods, folders, or URLs here<br>
            or click the plus icon to add mods
        </p>
    </div>
</div>

@code {
    
}
