@using JiayiLauncher.Shared.Components.Mods
@using System.Timers

@page "/Mods"

<h3>Mods</h3>

<div class="find-tools">
    <JiayiTextBox Placeholder="Search mods"></JiayiTextBox>
    
    <div class="separator"></div>

    <JiayiFilter Checked="true">All</JiayiFilter>
    <JiayiFilter>Locally stored</JiayiFilter>
    <JiayiFilter>Online</JiayiFilter>
</div>

<div class="mods"> 
    <ul class="mod-list">
        @* mods here *@
    </ul>
    <div class="add-new" @ondragover="OnDragOver" @ondrop="OnDrop" @ondragleave="OnDragLeave" data-hovered="@_hovered">
        <div class="add-new-image"></div>
        @if (_modsFolderExists)
        {
            <p>
                Drag mods, folders, or URLs here<br>
                or click the plus icon to add mods
            </p>
        }
        else
        {
            <p>
                You don't have a mods folder set up.<br><br>
                Drag a folder here to make it work with Jiayi,<br>
                or add mods to create a new folder.
            </p>
        }
    </div>
</div>

<button class="add-button" @onclick="@ShowAddMods">
    <span class="material-symbols-sharp">add</span>
</button>

@code {
    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;
    
    private bool _modsFolderExists = false;

    private string _hovered = "no";
    private string _hoveringFile = string.Empty;

    private Timer? _dragTimer;
    
    private Timer SetTimeout(Action callback, int timeout)
    {
        var timer = new Timer(timeout);
        timer.AutoReset = false;
        timer.Elapsed += (_, _) =>
        {
            callback();
        };
        timer.Start();
        return timer;
    }

    private async Task ShowAddMods()
    {
        var modal = Modal.Show<NewMod>("Add new mod");
        var result = await modal.Result;
    }

    private void OnDragOver(DragEventArgs obj)
    {
        var transfer = obj.DataTransfer;
        if (transfer.Types.Length > 0 && transfer.Types.Contains("Files"))
        {
            _hovered = "yes";
            _dragTimer?.Stop();
        }
        
        // oops
        StateHasChanged();
    }

    private void OnDrop(DragEventArgs obj)
    {
        _hovered = "no";
        if (obj.DataTransfer.Files.Length > 0)
        {
            _hoveringFile = obj.DataTransfer.Files[0];
            _dragTimer?.Stop();
        }
        
        StateHasChanged();
    }

    private void OnDragLeave()
    {
        _dragTimer = SetTimeout(() => { _hovered = "no"; StateHasChanged(); }, 25);
    }

}
