@using JiayiLauncher.Shared.Components.Mods
@using System.IO
@using JiayiLauncher.Features.Mods
@using JiayiLauncher.Settings

@page "/Mods"

<h3>Mods</h3>

<div class="find-tools">
    <span class="material-symbols-sharp">search</span>
    <JiayiTextBox Placeholder="Search mods" @ref="_searchBox" Changed="StateHasChanged"/>

    <div class="separator"></div>

    <span class="material-symbols-sharp">filter_list</span>
    <p>Filter by:</p>
    <JiayiFilter @ref="_localFilter" Changed="StateHasChanged">Locally stored</JiayiFilter>
    <JiayiFilter @ref="_onlineFilter" Changed="StateHasChanged">From the web</JiayiFilter>
</div>

<div class="mods"> 
    <ul class="mod-list">
        @if (JiayiSettings.Instance!.ModCollectionPath != string.Empty)
        {
            var mods = new List<Mod>();
            if (_localFilter is {Checked: true})
            {
                mods.AddRange(ModCollection.Current!.Mods.Where(mod => !mod.FromInternet));
            }
            
            if (_onlineFilter is {Checked: true})
            {
                mods.AddRange(ModCollection.Current!.Mods.Where(mod => mod.FromInternet));
            }
            
            if (mods.Count == 0)
            {
                mods = ModCollection.Current!.Mods;
            }
            
            foreach (var mod in mods)
            {
                @if (_searchBox is {Value: not null or "" })
                {
                    if (mod.Name.ToLower().Contains(_searchBox.Value.ToLower()))
                    {
                        <JiayiModCard Mod="@mod" />
                    }
                }
                else
                {
                    <JiayiModCard Mod="@mod" />
                }
            }
        }
    </ul>
    <p class="add-new" @ondragenter="OnDragEnter" @ondragleave="OnDragLeave" @ondragover="OnDragEnter" data-hovered="@_hovered">
        @if (JiayiSettings.Instance.ModCollectionPath != string.Empty)
        {
            <label class="drag-area">
                Drag mods, folders, or URLs here<br>
                or click the plus icon to add mods
                <InputFile OnChange="FileDropped" multiple @onclick:preventDefault />
            </label>
        }
        else
        {
            <label class="drag-area">
                You don't have a mods folder set up.<br><br>
                Drag a folder here to make it work with Jiayi,<br>
                or add mods to create a new folder.
                <InputFile OnChange="FileDropped" multiple @onclick:preventDefault />
            </label>
        }
    </p>
</div>

<button class="add-button" @onclick="@ShowAddMods">
    <span class="material-symbols-sharp">add</span>
</button>

@code {
    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;

    private string _hovered = "no";
    
    // refs
    private JiayiTextBox? _searchBox;
    private JiayiFilter? _localFilter;
    private JiayiFilter? _onlineFilter;

    private async Task ShowAddMods()
    {
        var modal = ModalService.Show<NewMod>("Add new mod");
        await modal.Result;
    }

    private void OnDragEnter(DragEventArgs obj)
    {
        var transfer = obj.DataTransfer;
        if (transfer.Types.Length <= 0) return;
        if (transfer.Types.Contains("Files") || transfer.Types.Contains("text/uri-list"))
        {
            _hovered = "yes";
        }
    }

    private void OnDragLeave(DragEventArgs obj)
    {
        _hovered = "no";
    }

    private async Task FileDropped(InputFileChangeEventArgs obj)
    {
        _hovered = "no";
        
        var files = obj.GetMultipleFiles();

        if (files.Count == 1)
        {
            var file = files[0];
            var tempPath = Path.Combine(
                Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "JiayiLauncher", file.Name);

            await using var fs = new FileStream(tempPath, FileMode.Create);
            await file.OpenReadStream(524288000L).CopyToAsync(fs);
            
            var mod = new Mod(Path.GetFileNameWithoutExtension(file.Name), tempPath);
            
            var parameters = new ModalParameters()
                .Add(nameof(EditMod.Mod), mod);
            
            var modal = ModalService.Show<EditMod>("Edit mod", parameters);
            await modal.Result;
            File.Delete(tempPath);
        }
    }

}