@page "/Profiles"
@using JiayiLauncher.Features.Profiles

<h3>Profiles</h3>

<div class="find-tools">
    <span class="material-symbols-sharp">search</span>
    <JiayiTextBox Placeholder="Search profiles" @ref="_searchBox" Changed="StateHasChanged"/>
    <div class="separator"></div>
    <JiayiButton Size="16px" Style="padding: 0.5rem 1rem">Create</JiayiButton>
    
    @* invisible paragraph to make the div's height consistent with the other pages *@
    <p style="opacity: 0">invisible</p>
</div>

<div class="profiles-page">
    <ul class="profiles">
        @if (ProfileCollection.Current == null || ProfileCollection.Current.Profiles.Count == 0)
        {
            <li class="no-profiles">
                No profiles saved
            </li>
        }
    </ul>
</div>

@code {
    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;

    private JiayiTextBox? _searchBox;
}