@page "/Profiles"
<h3>Profiles</h3>

<p>
    If you've ever gotten caught up with managing multiple "LocalState" folders, this is for you.<br><br>
    Profiles allow you to create multiple "LocalState" folders, and switch between them easily.<br>
    This is useful for managing different texture packs for different versions of Minecraft, or for managing different worlds.
</p>

@code {
    
}