@page "/Secret"
<h3>@Strings.SecretTitle</h3>

<iframe src="https://freeminesweeper.org/" width="100%" style="height: 85vh; border: none"></iframe>

<h5><a href="https://freeminesweeper.org/">@Strings.SecretText</a></h5>
<h6>@Strings.SecretText2</h6>