.setting {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.setting-description {
    font-size: 14px;
    color: var(--text-grayed);
    margin-top: 0.5rem;
    width: max-content;
    max-width: 45vw;
}