@page "/Settings"
<h3>Settings</h3>

<p>
    Settings is... obvious.<br><br>
    You can change a lot here, like the launcher's theme, your Discord presence, and more.<br>
    Jiayi will be designed to be highly customizable, so you can make it look and feel exactly how you want it to.
</p>

@code {
    
}