.setting {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.setting-description {
    font-size: 14px;
    color: var(--text-grayed);
    margin-top: 0.5rem;
    width: max-content;
    max-width: 45vw;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.7rem;
    width: 100%;
}

.tab-button {
    background-color: var(--background-secondary);
    border: none;
    color: var(--text-primary);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    font-family: Montserrat, sans-serif;

    box-shadow: var(--shadow);
    filter: none;

    cursor: pointer;

    transition: var(--transition-speed);
}

.tab-button:hover {
    filter: brightness(1.5);
}

.tab-button:active {
    filter: brightness(0.8);
    transform: translate(5px, 5px);
    box-shadow: none;
}