@page "/Stats"
<h3>Stats</h3>

<p>
    This page shows your statistics for your playing experience.<br><br>
    You'll be able to see how long you play overall, average playtime for each mod you use, and more.
</p>

@code {
    
}