@page "/Versions"
<h3>Version Manager</h3>

<p>
    Jiayi's Version Manager allows you to switch to different Minecraft versions.<br><br>
    The launcher can also bring you here if you try to launch a mod that doesn't support your current version.
</p>

@code {
    
}